body {
    background-color: #9ceaef;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dynapuff-umm {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.msg-container{
    margin:auto;
    height: 7rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

#msg{
    font-family: DynaPuff;
    color: #197278;
    font-size: 40px;
}

main{
    margin-top: 30px;
}
/* .score{
    width: 100vh;
    margin: auto;
}
.left{
    float: left;
    font-family: DynaPuff;
}
.right{
    float: right;
    font-family: DynaPuff; 
} */
.game-board{
    background-color: #68d8d6;
    width: 25rem;
    aspect-ratio: 1 / 1;
    margin: auto;
    padding: 2rem;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 33.34%);
    grid-template-rows: repeat(3, 33.34%);
    border-radius: 1rem;
    gap: 3%;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #07beb8;
    border-radius: 1rem;
    font-family: DynaPuff;
    font-size: 7rem;
    color: #c4fff9;
    text-align: center;
}

.lower-section {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.lower-section button {
    line-height: 250%;
    padding: 0.75rem 3rem;
    border-radius: 0.5rem;
    background-color: #07beb8;
    border: 0px;
    color: #c4fff9;
    font-family: DynaPuff;
    font-size: larger;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

@media only screen and (max-width: 900px) {

}